In [4]:
import pandas as rits

In [6]:
dataset={'student':['Ritik','Rajesh','Aayush','Parmod'],'Subject':['Daa','Ws','Cs','Aiml'],'Marks':[40,38,50,30]}
demo = rits.DataFrame(dataset)
print(demo)

  student Subject  Marks
0   Ritik     Daa     40
1  Rajesh      Ws     38
2  Aayush      Cs     50
3  Parmod    Aiml     30

In [8]:
print(rits.__version__)

2.1.0

In [18]:
r=[40,56,98,21]
demo=rits.Series(r)
print(demo)

0    40
1    56
2    98
3    21
dtype: int64

In [19]:
demo=rits.Series(r,index=['a1','a2','a3','a4'])
print(demo)

a1    40
a2    56
a3    98
a4    21
dtype: int64

In [21]:
marks={"DAA":440,"WS":220,"CS":300}
demo2=rits.Series(marks)
print(demo2)

DAA    440
WS     220
CS     300
dtype: int64

In [25]:
demo2=rits.Series(marks,index=["DAA","CS"])
print(demo2)

DAA    440
CS     300
dtype: int64

In [26]:
Data= {'product':['shoes','watch','phone','cover'],'price':[700,1500,20000,150]}
hp = rits.DataFrame(Data)
print(hp)

  product  price
0   shoes    700
1   watch   1500
2   phone  20000
3   cover    150

In [27]:
print(hp.loc[0])

product    shoes
price        700
Name: 0, dtype: object

In [28]:
print(hp.loc[3])

product    cover
price        150
Name: 3, dtype: object

In [10]:
import  pandas as rits

rt=rits.read_excel("stud_excel.xlsx")

In [11]:
print(rt)

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420        0.84     A
1      2   Aryan          500             300        0.60     B
2      3    Dhey          500             450        0.90     A
3      4  Aadity          500             460        0.92    A+
4      5   Ritik          500             310        0.62     B
5      6  Himesh          500             350        0.70     B
6      7  Sachin          500             250        0.50     D
7      8   Lalit          500             280        0.56     C
8      9  Hitesh          500             230        0.46     D
9     10  Rakesh          500             290        0.58     C

In [17]:
print(rits.options.display.max_rows)

60

In [18]:
print(rits.options.display.min_rows)

10

In [19]:
print(rt)

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420        0.84     A
1      2   Aryan          500             300        0.60     B
2      3    Dhey          500             450        0.90     A
3      4  Aadity          500             460        0.92    A+
4      5   Ritik          500             310        0.62     B
5      6  Himesh          500             350        0.70     B
6      7  Sachin          500             250        0.50     D
7      8   Lalit          500             280        0.56     C
8      9  Hitesh          500             230        0.46     D
9     10  Rakesh          500             290        0.58     C

In [21]:
stud=rits.read_excel("stud_excel.xlsx")
print(stud)

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420        0.84     A
1      2   Aryan          500             300        0.60     B
2      3    Dhey          500             450        0.90     A
3      4  Aadity          500             460        0.92    A+
4      5   Ritik          500             310        0.62     B
5      6  Himesh          500             350        0.70     B
6      7  Sachin          500             250        0.50     D
7      8   Lalit          500             280        0.56     C
8      9  Hitesh          500             230        0.46     D
9     10  Rakesh          500             290        0.58     C

In [22]:
print(stud.head())

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420        0.84     A
1      2   Aryan          500             300        0.60     B
2      3    Dhey          500             450        0.90     A
3      4  Aadity          500             460        0.92    A+
4      5   Ritik          500             310        0.62     B

In [23]:
print(stud.tail())

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
5      6  Himesh          500             350        0.70     B
6      7  Sachin          500             250        0.50     D
7      8   Lalit          500             280        0.56     C
8      9  Hitesh          500             230        0.46     D
9     10  Rakesh          500             290        0.58     C

In [24]:
print(stud.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sr.No           10 non-null     int64
 1   Name            10 non-null     object
 2   Total Marks     10 non-null     int64
 3   Obtained Marks  10 non-null     int64
 4   Percentage      10 non-null     float64
 5   Grade           10 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 612.0+ bytes
None

In [27]:
new_stud=stud.dropna()
print(new_stud)

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420        0.84     A
1      2   Aryan          500             300        0.60     B
2      3    Dhey          500             450        0.90     A
3      4  Aadity          500             460        0.92    A+
4      5   Ritik          500             310        0.62     B
5      6  Himesh          500             350        0.70     B
6      7  Sachin          500             250        0.50     D
7      8   Lalit          500             280        0.56     C
8      9  Hitesh          500             230        0.46     D
9     10  Rakesh          500             290        0.58     C

In [30]:
print(stud)

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420        0.84     A
1      2   Aryan          500             300        0.60     B
2      3    Dhey          500             450        0.90     A
3      4  Aadity          500             460        0.92    A+
4      5   Ritik          500             310        0.62     B
5      6  Himesh          500             350        0.70     B
6      7  Sachin          500             250        0.50     D
7      8   Lalit          500             280        0.56     C
8      9  Hitesh          500             230        0.46     D
9     10  Rakesh          500             290        0.58     C

In [32]:
fill_stud=stud.fillna(11)
print(fill_stud)

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420        0.84     A
1      2   Aryan          500             300        0.60     B
2      3    Dhey          500             450        0.90     A
3      4  Aadity          500             460        0.92    A+
4      5   Ritik          500             310        0.62     B
5      6  Himesh          500             350        0.70     B
6      7  Sachin          500             250        0.50     D
7      8   Lalit          500             280        0.56     C
8      9  Hitesh          500             230        0.46     D
9     10  Rakesh          500             290        0.58     C

In [5]:
stud=rits.read_excel("stud_excel.xlsx")

In [6]:
print(stud)

    Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0       1  Aayush          500             420         NaN     A
1       2   Aryan          500             300         NaN     B
2       3    Dhey          500             450         NaN     A
3       4  Aadity          500             460         NaN    A+
4       5   Ritik          500             310         NaN     B
5       6  Himesh          500             350        0.70     B
6       7  Sachin          500             250        0.50     D
7       8   Lalit          500             280        0.56     C
8       9  Hitesh          500             230        0.46     D
9      10  Rakesh          500             290        0.58     C
10     11   jeetu          700             500        0.99   NaN
11     12     NaN          700             588        0.98   NaN

In [7]:
fill_stud=stud.fillna(555)
print(fill_stud)

    Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0       1  Aayush          500             420      555.00     A
1       2   Aryan          500             300      555.00     B
2       3    Dhey          500             450      555.00     A
3       4  Aadity          500             460      555.00    A+
4       5   Ritik          500             310      555.00     B
5       6  Himesh          500             350        0.70     B
6       7  Sachin          500             250        0.50     D
7       8   Lalit          500             280        0.56     C
8       9  Hitesh          500             230        0.46     D
9      10  Rakesh          500             290        0.58     C
10     11   jeetu          700             500        0.99   555
11     12     555          700             588        0.98   555

In [8]:
Mr= stud["Name"].fillna(111)
print(Mr)

0     Aayush
1      Aryan
2       Dhey
3     Aadity
4      Ritik
5     Himesh
6     Sachin
7      Lalit
8     Hitesh
9     Rakesh
10     jeetu
11       111
Name: Name, dtype: object

In [9]:
mean=stud["Obtained Marks"].mean()
print(mean)
median=stud["Obtained Marks"].median()
print(f"median:{median}")
mode=stud["Obtained Marks"].mode()
print(f"mode:{mode}")

369.0
median:330.0
mode:0     230
1     250
2     280
3     290
4     300
5     310
6     350
7     420
8     450
9     460
10    500
11    588
Name: Obtained Marks, dtype: int64

In [11]:
stud.columns

Index(['Sr.No', 'Name', 'Total Marks', 'Obtained Marks', 'Percentage',
       'Grade'],
      dtype='object')

In [12]:
print(stud.loc[0:4])

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
0      1  Aayush          500             420         NaN     A
1      2   Aryan          500             300         NaN     B
2      3    Dhey          500             450         NaN     A
3      4  Aadity          500             460         NaN    A+
4      5   Ritik          500             310         NaN     B

In [13]:
print(stud.loc[3])

Sr.No                  4
Name              Aadity
Total Marks          500
Obtained Marks       460
Percentage           NaN
Grade                 A+
Name: 3, dtype: object

In [14]:
stud.sort_values(['Obtained Marks'],ascending=0)

    Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade
11     12     NaN          700             588        0.98   NaN
10     11   jeetu          700             500        0.99   NaN
3       4  Aadity          500             460         NaN    A+
2       3    Dhey          500             450         NaN     A
0       1  Aayush          500             420         NaN     A
5       6  Himesh          500             350        0.70     B
4       5   Ritik          500             310         NaN     B
1       2   Aryan          500             300         NaN     B
9      10  Rakesh          500             290        0.58     C
7       8   Lalit          500             280        0.56     C
6       7  Sachin          500             250        0.50     D
8       9  Hitesh          500             230        0.46     D

In [15]:
stud['percentage']=(stud['Obtained Marks']/stud['Total Marks'])*100
stud.head(5)

   Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade  percentage
0      1  Aayush          500             420         NaN     A        84.0
1      2   Aryan          500             300         NaN     B        60.0
2      3    Dhey          500             450         NaN     A        90.0
3      4  Aadity          500             460         NaN    A+        92.0
4      5   Ritik          500             310         NaN     B        62.0

In [17]:
stud['percentage']=(stud['Obtained Marks']/stud['Total Marks'])*100
print(stud.tail(5))

    Sr.No    Name  Total Marks  Obtained Marks  Percentage Grade  percentage
7       8   Lalit          500             280        0.56     C   56.000000
8       9  Hitesh          500             230        0.46     D   46.000000
9      10  Rakesh          500             290        0.58     C   58.000000
10     11   jeetu          700             500        0.99   NaN   71.428571
11     12     NaN          700             588        0.98   NaN   84.000000